{% extends "layouts/base.njk" %} {% block content %}
<header>
  <div class="logo">HiPer</div>
  {% include "partials/site-nav.njk" %}
</header>
<main>{% include "partials/posts.njk" %}</main>
{% endblock %}
